.wrapper {
  background-color: #d240e80f;
}

.list {
  margin-left: 20px;
}
.listItem {
  margin-bottom: 10px;
  list-style-type: disc;
  font-size: large;
}
.listItem:hover,
.listItem:focus {
  text-decoration: underline;
}
